* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 1.6;
    background-color: rgba(235, 229, 229, 0.671);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

.cabecalho {
    background-color: rgba(5, 196, 101, 0.781);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#cabecalho-titulo-logo {
    color: rgba(66, 65, 65, 0.877);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    padding: 20px 0 20px 0;

}


nav {
   
    padding: 20px;

}

.cabecalho-menu {
    display: flex;
    gap: 30px;


}

nav li:hover {
    background-color: rgba(5, 196, 101, 0.521);
}

nav a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    text-decoration: underline;
}

.container {
    margin: 30px auto;
    width: 960px;
}


.place a {

    text-decoration: none;
    color: rgb(95, 82, 7);
    font-weight: bolder;

}

.place {
    border-color: rgb(99, 98, 98);
    border: 1px solid gray;
    margin: 0 0 20px 0;
    padding: 30px;
    background-color: white;


}

.place h2 {
    border-bottom: 1px solid;
    margin: 0;
}

.place img {
    border: 1px solid gray;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.place p {
    margin-top: 5px;
}

img {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.places {
    float: left;
    width: 660px;
}

.sidenote {
    background-color: rgb(211, 211, 211);
    border: 1px solid gray;
    float: right;
    padding: 10px;
    width: 240px;
}

.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}

.sidenote ol {
    font-size: 12px;
}

.footer {
    font-size: 12px;
    text-align: center;
    clear: both;
}

@media screen and (max-width: 480px) {

    .cabecalho {
        
        background-color: rgba(5, 196, 101, 0.781);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cabecalho-titulo-logo {
        display: flex;
        color: rgba(66, 65, 65, 0.877);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2.0em;
        margin: auto;
        justify-content: center;
        align-items: center;
    }


    .cabecalho-menu {
        display: flex;
        gap: 20px;
        flex-direction: row;
       
        width: 100%;
        margin: 0;
    
    }

    .container {
        margin: 10px auto;
        width: 310px;
        justify-items: center;
    }

    .places {
        text-align: center;
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .place {
        width: 240px;
        text-align: center;
    }

    .place img {
        text-align: center;
        margin: 30px;
        width: 170px;

    }

    .sidenote {

        margin: 30px;
    }

}